body {
    overflow: hidden;
}

table {
    background-color: white;
    text-align: center;
    float: left;
}

table tr th {
    padding: 10px;
}

table tr td {
    padding: 10px;
}

table tr td div {
    width: 2rem;
    height: 1rem;
}

canvas {
    position: absolute;
    display: none;
}

a {
    text-decoration-line: none;
    float: right;
}

input {
    cursor: pointer;
}

#options {
    position: relative;
    left: 35%;
}

.icon {
    width: 25px;
    height: 25px;
}